table, tr {
	border: 1px solid black;
}

.chabox {
	background-color: rgb(100, 100, 100);
}

.apollo {
	background-color: rgb(189, 49, 41);
}

.edgeworth {
	background-color: rgb(172, 57, 90);
}

.edgeworth2 {
	background-color: rgb(65, 65, 65);
}

.franny {
	background-color: rgb(172, 205, 213);
}

.godot {
	background-color: rgb(8, 131, 131);
}

.karma {
	background-color: rgb(74, 82, 123);
}

.klavier {
	background-color: rgb(115, 57, 82);
}

.mia {
	background-color: rgb(24, 24, 24);
}

.payne {
	background-color: rgb(128, 128, 128);
}

.payne2 {
	background-color: rgb(24, 158, 57);
}

.payne3 {
	background-color: rgb(198, 206, 0);
}

.phoenix {
	background-color: rgb(57, 90, 139);
}

.chosen {
	background-color: #841919;
}

@font-face {
	font-family: "Ace Attorney";
	src: url("./aceattorney.ttf");
}

header {
	text-align: center;
	font-size: 30px;
}


